### autoconf/automake root stuff

/compile
/config.log
/config.h
/config.cache
/config.status
/config.guess
/config.sub
/config.version
/ltmain.sh
/stamp-h
/stamp-h[0-9]*
*-stamp
/INSTALL
/depcomp
/missing
/install-sh
/mkinstalldirs
/ylwrap
/autom4te*.cache
/configure.lineno
/configure
/config.h.in
/confdefs.h
/conftest
/conftest.err
/aclocal.m4
/libtool
/libtool.orig

/Makefile
/Makefile.in

### autoconf/automake subdir stuff

.deps
.libs

### build outputs

*.o
*.lo
*.a
*.la
*.so
*.loT
*.pb.h
*.pb-c.h
*.pb-c.c
*_clippy.c

### dist

*.tar.?z
*.tar.?z.asc
*.tar.asc
*.deb
*.ddeb
*.dsc
*.changes

### other garbage

.nfs*
.arch-inventory
.arch-ids
{arch}
build
.cache
.msg
.rebase-*
*~
*.bak
*.swp
*.pyc
__pycache__
*.patch
*.diff
cscope.*
TAGS
tags
GTAGS
GSYMS
GRTAGS
GPATH
compile_commands.json
.dirstamp
refix

# Added by Cyril
.history_frr
.idea/
CMakeLists.txt
cmake-build-debug/
ospfd/monitoring_server/monitoring_server
ospfd/plugins_manager/plugins_ui
lib/getopt.c
lib/getopt1.c
tests/bgpd/test_peer_attr.c
tests/lib/test_zmq.refout
tools/checkpatch.pl
doc/developer/process-architecture.rst
doc/developer/workflow.rst
doc/user/basic.rst
lib/pqueue.c
lib/sbuf.h
ospf6d/ospf6_intra.c
.Xauthority
